{% extends "../sub_base.html" %}
{% block title %}Account Email Sent{% endblock %}
{% block content %}

<div class="container-fluid px-md-4">
    <a class="navbar-brand d-flex-inline" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
        <path
          d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
      </svg>
      <span class="ms-2 fw-bold">Electronics Store</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="container">
    <div>
        <h3 class="mb-4">Account email sent</h3>
        <p>Check your email to activate your account</p>
    </div>
</div>

{% endblock %}